@import "tailwindcss";

:root {
  --bg: rgba(231,226,214,255);
  --text: #111111;
}

.dark {
  --bg: #121212;
  --text: #f4f4f4;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background-color 0.4s ease, color 0.4s ease;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer {
  text-align: end;
  padding-right: 20px;
}

a {
  transition: color 0.3s ease;
}

/* Page load fade animation */
body {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  animation: revealUp 0.7s ease forwards;
  animation-delay: 0.2s;
}

@keyframes revealUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  padding: 0.6rem 1.2rem;
  background: linear-gradient(135deg, #8a2be2, #cfb5d6);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 0 transparent;
  transition: transform 0.3s, box-shadow 0.3s;
}

button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px #cfb5d6;
}

.bookingForm {
  animation: fadeIn 1s ease;
}